#Data Structure
**Questions:**
1. What are data structures, and why are they important?
    - Data structures are specialized formats for organizing, storing, and accessing collections of data. They provide efficient ways to manage information based on its characteristics and intended use.
Think of them as containers that hold your data and determine how you can interact with it. Different containers are better suited for different types of items.
Why are they important?

Choosing the right data structure significantly impacts the efficiency and performance of your program.
Well-chosen data structures can:
Simplify data manipulation (adding, removing, modifying elements)
Optimize searching and sorting operations
Conserve memory usage

2. Explain the difference between mutable and immutable data types with examples.
    - Mutability are  object/container whose state or value can be changed after they are created are called as mutable object or container, also called as item assignment.
Examoles of Mutability: list, dict, set.

Immutability: Object/container whose state or value cannot be changed after they are created are called as immutable object or container.
Example of Immutability: int, float, str, tuple.

3. What are the main differences between lists and tuples in Python?
    - | Feature                  | `list`                       | `tuple`                         |
| ------------------------ | ---------------------------- | ------------------------------- |
| **Mutability**           | ‚úÖ Mutable                    | ‚ùå Immutable                     |
| **Syntax**               | Square brackets `[ ]`        | Parentheses `( )`               |
| **Performance**          | Slower (more flexible)       | Faster (more memory-efficient)  |
| **Methods**              | Many (e.g., `append`, `pop`) | Fewer (mostly `count`, `index`) |
| **Use Case**             | Changing data                | Fixed/constant data             |
| **Hashable**             | ‚ùå Not hashable (unhashable)  | ‚úÖ Hashable (if elements are)    |
| **Can be a key in dict** | ‚ùå No                         | ‚úÖ Yes (if hashable)             |

4. Describe how dictionaries store data?
    - Dictionaries store data in key-value pairs, allowing for efficient data retrieval and organization, with unique keys mapping to specific values.

my_dict = {}
type(my_dict)

5. Why might you use a set instead of a list in Python?
    - - Uniqueness of Elements: Sets automatically remove duplicates, while lists do not.
- Fast Membership Testing: Sets are optimized for fast lookup (average O(1) time).

Lists require a linear search (O(n)).
- 3. Set Operations

Sets support mathematical set operations, like:

Union: set1 | set2

Intersection: set1 & set2

Difference: set1 - set2

Symmetric Difference: set1 ^ set2

6. What is a string in Python, and how is it different from a list?
    - A string is a sequence of Unicode characters.

It's defined using quotes: single ' ', double " ", or triple quotes for multiline strings (''' ''' or """ """).

| Feature        | **String**                                          | **List**                                    |
| -------------- | --------------------------------------------------- | ------------------------------------------- |
| **Type**       | `str`                                               | `list`                                      |
| **Contents**   | Text (characters)                                   | Any data types (mixed allowed)              |
| **Mutability** | ‚ùå Immutable (can‚Äôt be changed)                      | ‚úÖ Mutable (can be changed)                  |
| **Syntax**     | Quoted characters: `"hello"`                        | Square brackets: `[1, 2, 3]`                |
| **Methods**    | Many string-specific (e.g., `.lower()`, `.split()`) | Many list-specific (`.append()`, `.sort()`) |
| **Use Case**   | Handling and processing text                        | Managing collections of data                |

7. How do tuples ensure data integrity in Python?
    - Tuples ensure data integrity through immutibility, once they are created its contents/data type can not be changed. This means no adding or removing elements. This immutability protects the data from accidental or unauthorized modification, especially when passing data around functions or between parts of a program

8. What is a hash table, and how does it relate to dictionaries in Python?
    - A hash table is a data structure that implements an associative array, also known as a dictionary or map. It stores data in key-value pairs, where each key is mapped to a specific memory location (or index in an array) using a hash function. This hash function takes the key as input and produces an integer value (the hash code), which is then used to determine the storage location of the corresponding value. The primary advantage of hash tables is their ability to provide very fast average-case time complexity for operations like insertion, deletion, and lookup.

How Hash Tables Relate to Dictionaries in Python:
Python's built-in dictionaries (dict) are implemented using hash tables. When you create a dictionary and add key-value pairs, Python internally uses a hash table to store and retrieve this data efficiently

9. Can lists contain different data types in Python?
    - list is an orderd collection of elements that can be of any data types in python.

10. Explain why strings are immutable in Python?
    - Strings in Python are immutable ‚Äî meaning once a string is created, it cannot be changed. If you try to modify it, Python will create a new string object instead.

Why Are Strings Immutable in Python?
1.Data Integrity and Safety: Immutable strings prevent accidental changes

2.Hashability (Use in Sets and Dict Keys): Only immutable objects can be hashed and used as dictionary keys or in sets

3.Performance Optimization (String Interning): Python often reuses string objects to save memory ‚Äî a process called string interning.

11. What advantages do dictionaries offer over lists for certain tasks?
    - Dictionaries in Python offer several advantages over lists ‚Äî especially when you need to associate data with unique keys and access it quickly.

Dictionaries are ideal when:

You need fast lookups by a unique key

You want to associate data with meaningful identifiers

You value readability and maintainability

12. Describe a scenario where using a tuple would be preferable over a list?
    - Using a tuple is preferable over a list when you want to store a fixed collection of items that should not change throughout the lifetime of your program.

| Use Case                                  | Why Tuple?                                                    |
| ----------------------------------------- | ------------------------------------------------------------- |
| Returning multiple values from a function | Tuples make it clear the return values are grouped and fixed. |
| Using as keys in a dictionary             | Tuples are hashable; lists are not.                           |
| Representing fixed data structures        | E.g., RGB color values, dates, 2D points, etc.                |
| Protecting data from modification         | Tuples prevent accidental or unauthorized changes.            |

13. How do sets handle duplicate values in Python?
    - A set is an unordered collection of unique, hashable elements.In Python, sets automatically eliminate duplicate values. This is one of their core features.

How Sets Handle Duplicates:

When you add elements to a set, Python checks the hash value of each element.

If an element already exists, it‚Äôs not added again.

Internally, sets use a hash table (like dictionaries) to keep track of values.

14. How does the ‚Äúin‚Äù keyword work differently for lists and dictionaries?
    - in keyword behaves differently for lists and dictionaries in Python ‚Äî and understanding this distinction is key to writing efficient and correct code.

| Type   | What `in` checks for                         |
| ------ | -------------------------------------------- |
| `list` | Checks if a **value** exists in the list     |
| `dict` | Checks if a **key** exists in the dictionary |

15. Can you modify the elements of a tuple? Explain why or why not?
    - No, you cannot modify the elements of a tuple in Python ‚Äî and this is by design.

Why You Can't Modify a Tuple:

Tuples are immutable, Once a tuple is created, its size and contents cannot be changed.

That means:

You cannot change individual elements

You cannot add or remove elements

You cannot reorder elements

Why Tuples Are Immutable?

Data Integrity, Hashability, Predictable Behavior.

Exception: Tuples Can Contain Mutable Elements

While the tuple itself can't be changed, it can contain mutable objects, which can be changed.

16. What is a nested dictionary, and give an example of its use case?
    - A nested dictionary in Python is a dictionary where one or more values are themselves dictionaries. This allows you to represent complex, hierarchical data structures using key-value pairs.

17. Describe the time complexity of accessing elements in a dictionary?
    - Accessing elements in a dictionary in Python has an average-case time complexity of:

üîπ Average Case:

Dictionary lookups (e.g., my_dict[key]) are constant time operations on average.

Python dictionaries use hash tables internally, so the key is hashed, and the value is retrieved directly using the hash.

18. In what situations are lists preferred over dictionaries?
    - While dictionaries are powerful for key-based lookups, there are several situations where lists are preferred.

When Lists Are Preferred Over Dictionaries:
1.Order Matters

Lists maintain the order of elements by default.

Useful when the sequence or position of items is important

2.Indexed Access

Lists are ideal when you need to access elements by position (index).

Efficient random access: O(1) time for my_list[3].

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
    - Dictionaries are considered "unordered" because they do not guarantee a specific, predictable sequence for their elements, and instead, they are optimized for fast retrieval of values based on their associated keys, not their position. This fundamental characteristic means that data retrieval relies entirely on key-based access.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
    - 1. How You Access Data

List:

Access by index (position).

Syntax: my_list[0]

Order matters, and elements are stored in a defined sequence

Dictionary:

Access by key (name).

Syntax: my_dict['key']

The key is used to retrieve the corresponding value, order is secondary

2.Time Complexity of Retrieval:

List: Fast if you know the index, slow if you have to search for a value.

Dictionary: Fast access by key, but you can't search by value directly.

In [ ]:
#Question-1
#Write a code to create a string with your name and print it
a = "Sajid"
print(a)

Sajid

In [ ]:
#Question-2
#Write a code to find the length of the string "Hello World"
b = "Hello World"
print(len(b))

11

In [ ]:
#Question-3
#Write a code to slice the first 3 characters from the string "Python Programming"
a = "Python Programming"
slice = a[:3]
print(slice)

Pyt

In [ ]:
#Question-4
#Write a code to convert the string "hello" to uppercase
a = "hello"
a
a.upper()

'HELLO'

In [ ]:
#Question-5
#Write a code to replace the word "apple" with "orange" in the string "I like apple"
a = "I like apple"
a

'I like apple'

In [ ]:
a.replace("apple", "orange")

'I like orange'

In [ ]:
#Question-6
#Write a code to create a list with numbers 1 to 5 and print it
list = [1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

In [ ]:
#Question-7
#Write a code to append the number 10 to the list [1, 2, 3, 4]
a = [1, 2, 3, 4]
a.append(10)
print(a)

[1, 2, 3, 4, 10]

In [ ]:
#Question-8
#Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
lis = [1, 2, 3, 4, 5]
lis.remove(3)
print(lis)

[1, 2, 4, 5]

In [ ]:
#Question-9
#Write a code to access the second element in the list ['a', 'b', 'c', 'd']
lis = ['a', 'b', 'c', 'd']
lis[1]

'b'

In [1]:
#Question-10
# Write a code to reverse the list [10, 20, 30, 40, 50]
lis = [10, 20, 30, 40, 50]
lis.reverse()
print(lis)

[50, 40, 30, 20, 10]

In [ ]:
#Question-11
# Write a code to create a tuple with the elements 100, 200, 300 and print it.
tuple = (100, 200, 300)
print(tuple)

(100, 200, 300)

In [ ]:
#Question-12
#Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
tuple = ('red', 'green', 'blue', 'yellow')
tuple[1:4]

('green', 'blue', 'yellow')

In [ ]:
#Question-13
#Write a code to find the minimum number in the tuple (10, 20, 5, 15)
tuple = (10, 20, 5, 15)
min(tuple)

5

In [ ]:
#Question-14
#Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tuple = ('dog', 'cat', 'rabbit')
tuple.index('cat')

1

In [ ]:
#Question-15
#Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
tuple = ("apple", "banana", "orange")
"kiwi" in tuple

False

In [ ]:
#Question-16
#Write a code to create a set with the elements 'a', 'b', 'c' and print it.
set = {'a', 'b', 'c'}
print(set)

{'c', 'a', 'b'}

In [ ]:
#Question-17
#Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
set = {1, 2, 3, 4, 5}
set

{1, 2, 3, 4, 5}

In [ ]:
set.clear()

In [ ]:
set

set()

In [ ]:
#Question-18
# Write a code to remove the element 4 from the set {1, 2, 3, 4}.
set = {1, 2, 3, 4}
set.remove(4)
print(set)

{1, 2, 3}

In [ ]:
#Question-19
#Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
a = {1, 2, 3}
b = {3, 4, 5, 6}

In [ ]:
a

{1, 2, 3}

In [ ]:
b

{3, 4, 5, 6}

In [ ]:
a|b

{1, 2, 3, 4, 5, 6}

In [ ]:
#Question-20
#Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}
a

{1, 2, 3}

In [ ]:
b

{3, 4, 5, 6}

In [ ]:
a&b

{3}

In [ ]:
#Question-21
# Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
dict = {"name": "Sajid", "age": 24, "city": "Kolkata"}
print(dict)

{'name': 'Sajid', 'age': 24, 'city': 'Kolkata'}

In [ ]:
#Question-22
#Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
dict = {"name": "John", "age":"25"}
dict

{'name': 'John', 'age': '25'}

In [ ]:
dict["country"] = "USA"
dict

{'name': 'John', 'age': '25', 'country': 'USA'}

In [ ]:
#Question-23
#Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
dict = {'name': 'Alice', 'age': 30}
dict["name"]

'Alice'

In [ ]:
#Question-24
#Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
dict

{'name': 'Bob', 'age': 22, 'city': 'New York'}

In [ ]:
dict.pop("age")
dict

{'name': 'Bob', 'city': 'New York'}

In [ ]:
#Question-25
# Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}
dict = {'name': 'Alice', 'city': 'Paris'}
"city" in dict

True

In [ ]:
#Question-26
#Write a code to create a list, a tuple, and a dictionary, and print them all.
list = [[1, 2, 3],(4, 5, 6),{'a': 1, 'b': 2, 'c': 3}]
print(list)

[[1, 2, 3], (4, 5, 6), {'a': 1, 'b': 2, 'c': 3}]

In [4]:
#Question-27
#Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
list = [88,22,98,4,55]
list.sort()
print(list)

[4, 22, 55, 88, 98]

In [ ]:
#Question-28
#Write a code to create a list with strings and print the element at the third index.
list = ["apple", "banana", "orange", "kiwi", "mango"]
list[3]

'kiwi'

In [ ]:
#Question-29
#Write a code to combine two dictionaries into one and print the result.
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
dict3 = dict1 | dict2
print(dict3)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [2]:
#Question-30
#Write a code to convert a list of strings into a set.
string_list = ["apple", "banana", "orange", "kiwi", "mango"]
string_set = set(string_list)
print(string_set)

{'orange', 'kiwi', 'mango', 'banana', 'apple'}